.navbartext{
    color: rgba(63, 63, 63, 0.897);
    font-size: 30px;
}

.hirlevel{
    margin: auto;
    text-align: center;
    background-color: rgb(234, 235, 234);
    font-size: medium;
}



button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    transition: all 0.3s;

}

.btn:hover {
    background-color: #11b902;
    transform: translate(-10px);
}