.navbartext {
    color: rgba(63, 63, 63, 0.897);
    font-size: 0px;
}

.hirlevel {
    margin: auto;
    text-align: center;
    background-color: rgb(234, 235, 234);
    font-size: medium;
}

#cebum{
    position: fixed;
    color: #f5f5f5;
    font-size: 80px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#carouselExampleSlidesOnly{
    border: 0;
    margin: 0;
    padding: 0;
}


button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    transition: all 0.3s;

}

.btn {
    background-color: rgb(223, 255, 45);
}

.btn:hover {
    background-color: #17d306;
    transform: translate(-10px);
}

tablazat
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

#tablazat{
    float: right;
}

#cardelerhetoseg{
    margin: 50px 50px 50px 50px;
    padding: 0px 10px 0px 10px;
    border: 0px;
}

.card-text-eler{
    font-size: medium;
}

.card-text-map{
    font-size: large;
}

.card-text-nyitva{
    font-size: medium;
}


#szaunaaa{
    margin: auto;
}

#n1card{
    margin-left: 100px;
}

#rowww{
    margin: 100px;
}